.animal1 {
  box-sizing: border-box;
  border: 1px black solid;
  float: left;
  width: 30%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.animal1 p {
  font-weight: 600;
  font-style: italic;
}

.title {
  text-align: center;
}


.animal2 {
  box-sizing: border-box;
  border: 1px black solid;
  float: left;
  width: 30%;
  height: auto;
  text-align: center;
}

.animal2 p {
  font-family: cursive;
  font-weight: 600;
}

img {
  border: 1px green dotted;
  display: block;
  margin: auto;
}

.animal3 {
  box-sizing: border-box;
  border: 1px black solid;
  float: left;
  width: 30%;
  height: auto;
  text-align: center;
}

.animal3 p {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font: 600;
  
}

.animals div {
 height: 400px;
}

.animals {
  margin:auto;
  width:80%;
  height: auto;
}

body {
  background-color: orange;
}
